/////////////////////
// FONT TABLE SIZE //
/////////////////////


// NOTE: workaround due sass 3.2 limitation for checking mixin existance
// (3.3 will fix it and we'll update this piece of code)
$gl-do-override-font-size-table: true;
// NOTE: this is a workaround due limitations on sass 3.2 and
// its inability to define global variables from within a mixin
// (3.3 will fix it and we'll update this piece of code)
$gl-head-font-size: null !default;
$gl-title-font-size: null !default;
$gl-sub-title-font-size: null !default;
$gl-item-title-font-size: null !default;
$gl-lead-font-size: null !default;
$gl-discreet-title-font-size: null !default;
$gl-content-font-size: null !default;
$gl-discreet-font-size: null !default;
$gl-footnote-font-size: null !default;

@mixin gl-override-font-size-table {
	$gl-head-font-size: 45px !default;
	$gl-title-font-size: 33px !default;
	$gl-sub-title-font-size: 28px !default;
	$gl-item-title-font-size: 22px !default;
	$gl-lead-font-size: 19px !default;
	$gl-discreet-title-font-size: 18px !default;
	$gl-content-font-size: 16px !default;
	$gl-discreet-font-size: 14px !default;
	$gl-footnote-font-size: 12px !default;
}



///////////////////
// PROJECT TEXTS //
///////////////////

$gl-do-override-font-size-project: true;
$gl-chartable-font-size: null !default;

@mixin gl-override-font-size-project {
	$gl-chartable-font-size: $gl-item-title-font-size !default;
}