// common texts
p.gl {
	@extend %gl-base-text;
	font-size: gl-to-em($gl-content-font-size, $gl-base-font-size);
	margin: 0 0 gl-to-em($gl-base-space-size, $gl-content-font-size);
	line-height: gl-to-em($gl-double-space-size, $gl-content-font-size);
}
p.gl-lead {
	@extend p.gl;
	font-size: gl-to-em($gl-lead-font-size, $gl-base-font-size);
	font-weight: $gl-light-font-weight;
	line-height: 1.5em;
}

// separator line
hr.gl {
	border: 0;
	border-bottom: $gl-base-border-width solid $gl-separator-border-color;
	margin: $gl-separator-space-size 0;
}

// legend
.gl-legend {
	@extend %gl-base-text;
	font-size: gl-to-em($gl-footnote-font-size, $gl-content-font-size);
	line-height: 1.5em;
}