
/////////////////
// THEME COLOR //
/////////////////

// The main colors (called "theme" or "base" colors) are defined as $gl-theme-[NAME]-color and
// are defined to be the base of all palette. The main idea is that these colors have very
// different HUE values (so the variations can be inside it's group).
// The following pattern shoud apply: $gl-theme-[THEME_NAME]-color

$gl-do-override-theme-colors: null !default;
@if $gl-do-override-theme-colors {
	@include gl-override-theme-colors();
}

$gl-theme-main-color: #808078 !default;
$gl-theme-neutral-color: #333 !default;
$gl-theme-highlight-color: #3A87AD !default;
$gl-theme-code-color: #C7254E !default;


///////////////////
// COLOR PALETTE //
///////////////////

// All naming for color palette shoud follow the rule $gl-group-[THEME_NAME]-(dark|light)-[AMMOUNT], eg.:
//   If the new color is a little lighter version of "theme-main", the name would be
//   $gl-group-main-light-10
//   If it's lighter,
//   $gl-group-main-light-20
//   and so on...

$gl-do-override-color-palette: null !default;
@if $gl-do-override-color-palette {
	@include gl-override-color-palette();
}

$gl-group-white: #FFFFFF !default;
$gl-group-black: #000000 !default;
$gl-group-main-light10: gl-hsl-diff($gl-theme-main-color, -0.13, 0.81, 6.47) !default; //#654793
$gl-group-main-dark10: gl-hsl-diff($gl-theme-main-color, -0.28, 1.12, -7.84) !default; //#432F62
$gl-group-main-dark20: gl-hsl-diff($gl-theme-main-color, -0.63, 2.01, -12.35) !default; //#382753
$gl-group-neutral-light10: gl-hsl-diff($gl-theme-neutral-color, 0, 0, 20) !default; //#666666
$gl-group-neutral-light15: gl-hsl-diff($gl-theme-neutral-color, 0, 0, 40) !default; //#999999
$gl-group-neutral-light20: gl-hsl-diff($gl-theme-neutral-color, 0, 0, 66.67) !default; //#DDDDDD
$gl-group-neutral-light30: gl-hsl-diff($gl-theme-neutral-color, 0, 0, 73.33) !default; //#EEEEEE
$gl-group-code-light30: gl-hsl-diff($gl-theme-code-color, 12.16, -6.87, 9.61) !default; //#D44950
$gl-group-code-light50: gl-hsl-diff($gl-theme-code-color, -4.81, -32.64, 48.82) !default; //#F7EEF1



//////////////////////
// COLOR EXCEPTIONS //
//////////////////////

// All color exceptions (colors that doesn't match the base of palette) should be here.
// Usually they are used on stamps, badges, are signed colors of third party applications or
// colors that aren't "relative" to the theme/base colors

$gl-do-override-color-exceptions: null !default;
@if $gl-do-override-color-exceptions {
	@include gl-override-color-exceptions();
}

$gl-callout-important-bg-color: #F0F7FD !default;
$gl-callout-important-border-color: gl-hsl-diff($gl-callout-important-bg-color, -3.32, -24.86, -8.82) !default; //#D0E3F0
$gl-callout-warning-bg-color: #FEFBED !default;
$gl-callout-warning-border-color: gl-hsl-diff($gl-callout-warning-bg-color, -0.73, -24.04, -12.16) !default; //#F1E7BC
$gl-callout-danger-bg-color: #FCF2F2 !default;
$gl-callout-danger-border-color: gl-hsl-diff($gl-callout-danger-bg-color, 1.4, -22.31, -17.84) !default; //#DFB5B4

$gl-button-danger-bg-color: #D9534F !default;
$gl-button-success-bg-color: #5CB85C !default;


/////////////////
// BASE COLORS //
/////////////////

// Base colors used on elements. The naming follows the rule $gl-base[-STATE]-[COLOR_TYPE]-color(-from|-to), eg.:
//   The main border color of the project:
//   $gl-base-border-color;

$gl-do-override-color-base: null !default;
@if $gl-do-override-color-base {
	@include gl-override-color-base();
}

// borders and bgs
$gl-base-border-color: $gl-group-neutral-light20 !default;
$gl-base-bg-light-color: $gl-group-neutral-light30 !default;
$gl-base-bg-dark-color: $gl-group-neutral-light20 !default;

// text
$gl-base-dark-text-color: $gl-theme-neutral-color !default;
$gl-base-light-text-color: $gl-group-neutral-light20 !default;
$gl-base-light-text-color-hover: $gl-group-neutral-light10 !default;
$gl-base-text-shadow-color: fade_out($gl-group-black, 0.5) !default;

// form
$gl-base-input-text-color: $gl-base-dark-text-color !default;
$gl-base-input-placeholder-text-color: $gl-group-neutral-light15 !default;

// boxes
$gl-base-callout-bg-color: $gl-group-neutral-light30 !default;
$gl-base-callout-border-color: $gl-group-neutral-light20 !default;
$gl-base-box-shadow-color: fade_out($gl-group-black, 0.875) !default;


////////////////////
// PROJECT COLORS //
////////////////////

// All naming should follow the format $gl-[ELEMENT_NAME][-STATE]-[COLOR_TYPE]-color(-from|-to), eg.:
//   The "search field" of your project (exception):
//   $gl-search-input-bg-color;
//   $gl-search-input-bg-color-from; // gradient from
//   $gl-search-input-bg-color-to; // gradient to
//   $gl-search-input-text-color;
//   $gl-search-input-border-color;
//   $gl-search-input-shadow-color;
//   $gl-search-input-text-shadow-color;

$gl-do-override-color-project: null !default;
@if $gl-do-override-color-project {
	@include gl-override-color-project();
}

// content background
$gl-content-bg: $gl-group-white !default;

// titles
$gl-title-anchor-text-color: $gl-base-light-text-color !default;
$gl-title-anchor-text-color-hover: $gl-base-light-text-color-hover !default;

// font-size example
$gl-size-description-text-color: $gl-theme-code-color !default;

// separators
$gl-separator-border-color: $gl-group-neutral-light30 !default;

// code example
$gl-pre-border-color: $gl-base-border-color !default;
$gl-pre-bg-color: $gl-base-bg-light-color !default;

$gl-code-text-color: $gl-theme-code-color !default;
$gl-code-bg-color: $gl-group-code-light50 !default;

$gl-code-note-bg-color: $gl-theme-code-color !default;
$gl-code-note-text-color: $gl-group-white !default;

// lists
$gl-order-list-text-color: $gl-group-neutral-light10 !default;

// example box
$gl-example-bg-color: transparent !default;
$gl-example-text-color: $gl-group-neutral-light20 !default;
$gl-example-inverted-text-color: $gl-base-dark-text-color !default;
$gl-example-border-color: $gl-base-border-color !default;

$gl-checkers-inverted-bg-color: $gl-theme-neutral-color !default;
$gl-checkers-front-bg-color: $gl-group-neutral-light20 !default;
$gl-checkers-back-bg-color: $gl-group-neutral-light30 !default;

// main navigation
$gl-nav-font-color: $gl-group-white !default;
$gl-nav-bg-color: $gl-theme-main-color !default;
$gl-nav-hover-bg-color: $gl-group-main-dark20 !default;

// header
$gl-header-bg-color-from: $gl-group-main-dark10 !default;
$gl-header-bg-color-to: $gl-theme-main-color !default;

// color palette
$gl-palette-text-color: $gl-group-white !default;
$gl-palette-text-shadow-color: $gl-base-text-shadow-color !default;
$gl-palette-fallback-bg-color: $gl-group-neutral-light30 !default;

// color generator
$gl-color-generator-border-color: $gl-group-white !default;

// grid system
$gl-gridsystem-text-shadow-color: $gl-base-text-shadow-color !default;

// spacements
$gl-spacement-description-bg-color: $gl-group-white !default;
$gl-spacement-margin-bg-color: $gl-group-code-light30 !default;

// chartable
$gl-chartable-border-color: $gl-base-border-color !default;
$gl-chartable-bg-color: $gl-group-white !default;
$gl-chartable-glyph-bg-color: $gl-group-neutral-light30 !default;
$gl-chartable-glyph-text-color: $gl-group-neutral-light20 !default;

// buttons
$gl-button-default-bg-color: $gl-group-white !default;
$gl-button-default-text-color: $gl-theme-neutral-color !default;
$gl-button-default-border-color: $gl-base-border-color !default;

$gl-button-primary-bg-color: $gl-theme-main-color !default;
$gl-button-primary-text-color: $gl-group-white !default;
$gl-button-primary-border-color: darken($gl-button-primary-bg-color, 5%) !default;

// $gl-button-danger-bg-color on exception list
$gl-button-danger-text-color: $gl-button-primary-text-color !default;
$gl-button-danger-border-color: darken($gl-button-danger-bg-color, 5%) !default;

// $gl-button-success-text-color on exception list
$gl-button-success-text-color: $gl-button-primary-text-color !default;
$gl-button-success-border-color: darken($gl-button-success-bg-color, 5%) !default;

// forms
$gl-input-bg-color: $gl-group-white !default;
$gl-input-disabled-bg-color: $gl-group-neutral-light30 !default;
$gl-input-focus-bg-color: darken($gl-input-bg-color, 4%) !default;
$gl-input-border-color: $gl-base-border-color !default;
$gl-input-box-shadow-color: fade_out($gl-group-black, 0.925) !default;
$gl-float-example-bg-color: $gl-group-neutral-light20 !default;