
/////////////////////
// FONT TABLE SIZE //
/////////////////////

$gl-base-font-size: 16px !default; // base font is in pixel for reference. All units must be in EM or REM.

// NOTE: this is a workaround due limitations on sass 3.2 and
// its inability to check for mixin existance (3.3 will have it and we'll update this piece of code)
$gl-do-override-font-size-table: null !default;
@if $gl-do-override-font-size-table {
	@include gl-override-font-size-table();
}

$gl-root-font-size: $gl-base-font-size !default; // font-size used on the root element
$gl-head-font-size: 60px !default;
$gl-title-font-size: 36px !default;
$gl-sub-title-font-size: 30px !default;
$gl-item-title-font-size: 24px !default;
$gl-lead-font-size: 21px !default;
$gl-discreet-title-font-size: 18px !default;
$gl-content-font-size: 16px !default;
$gl-discreet-font-size: 14px !default;
$gl-footnote-font-size: 12px !default;

// this list will be used to generate the example classes to be used on the guideline.
$gl-font-size-example-list: (
	// ("NAME", "FONT_SIZE", "BASE_FONT_SIZE")
	("gl-base", $gl-base-font-size, $gl-base-font-size),
	("gl-root", $gl-root-font-size, $gl-root-font-size),
	("gl-head", $gl-head-font-size, $gl-root-font-size),
	("gl-title", $gl-title-font-size, $gl-root-font-size),
	("gl-sub-title", $gl-sub-title-font-size, $gl-root-font-size),
	("gl-item-title", $gl-item-title-font-size, $gl-root-font-size),
	("gl-lead", $gl-lead-font-size, $gl-root-font-size),
	("gl-discreet-title", $gl-discreet-title-font-size, $gl-root-font-size),
	("gl-content", $gl-content-font-size, $gl-root-font-size),
	("gl-discreet", $gl-discreet-font-size, $gl-root-font-size),
	("gl-footnote", $gl-footnote-font-size, $gl-root-font-size)
) !default;



//////////////////
// FONT WEIGHTS //
//////////////////

$gl-do-override-font-weight: null !default;
@if $gl-do-override-font-weight {
	@include gl-override-font-weight();
}

$gl-light-font-weight: 300 !default;
$gl-regular-font-weight: 400 !default;
$gl-medium-font-weight: 500 !default;
$gl-bold-font-weight: 700 !default;
$gl-black-font-weight: 900 !default;

$gl-font-weight-example-list: (
	("gl-light", $gl-light-font-weight),
	("gl-regular", $gl-regular-font-weight),
	("gl-medium", $gl-medium-font-weight),
	("gl-bold", $gl-bold-font-weight),
	("gl-black", $gl-black-font-weight)
) !default;



/////////////
// Z-INDEX //
/////////////

$gl-do-override-z-index: null !default;
@if $gl-do-override-z-index {
	@include gl-override-z-index();
}

$gl-behind-z-index: 5 !default;
$gl-content-z-index: 10 !default;
$gl-context-z-index: 15 !default;
$gl-layer-z-index: 20 !default;
$gl-over-z-index: 25 !default;

$gl-z-index-example-list: (
	("gl-behind", $gl-behind-z-index),
	("gl-content", $gl-content-z-index),
	("gl-context", $gl-context-z-index),
	("gl-layer", $gl-layer-z-index),
	("gl-over", $gl-over-z-index)
) !default;



////////////////
// BASE TEXTS //
////////////////

$gl-do-override-font-size-base: null !default;
@if $gl-do-override-font-size-base {
	@include gl-override-font-size-base();
}

$gl-guideline-title: "Hyojun.Guideline" !default;
$gl-base-pre-font-size: $gl-discreet-font-size !default;



///////////////////
// PROJECT TEXTS //
///////////////////

$gl-do-override-font-size-project: null !default;
@if $gl-do-override-font-size-project {
	@include gl-override-font-size-project();
}

// header
$gl-header-title-font-size: $gl-head-font-size !default;
$gl-header-description-font-size: $gl-lead-font-size !default;

// examples
$gl-example-label-font-size: $gl-footnote-font-size !default;

// navigation
$gl-nav-font-size: $gl-discreet-font-size !default;
$gl-nav-title-font-size: $gl-content-font-size !default;
$gl-navsec-font-size: $gl-discreet-font-size !default;

// fonts examples
$gl-font-size-description-font-size: $gl-content-font-size !default;
$gl-font-weight-description-font-size: $gl-discreet-font-size !default;

// z-index examples
$gl-z-index-description-font-size: $gl-discreet-font-size !default;

// chartable
$gl-chartable-description-font-size: $gl-discreet-font-size !default;
$gl-chartable-font-size: $gl-sub-title-font-size !default;

// gridsystem
$gl-grid-system-font-size: $gl-content-font-size !default;

// form elements
$gl-base-input-font-size: $gl-discreet-font-size !default;
$gl-base-button-font-size: $gl-discreet-font-size !default;


///////////////////
// BASE MEASURES //
///////////////////

$gl-do-override-measure: null !default;
@if $gl-do-override-measure {
	@include gl-override-measure();
}

// border width
$gl-base-border-width: 1px !default; // not rem because the idea is the minimun value;

// spaces (margins and paddings)
$gl-base-space-size: 10px !default;
$gl-double-space-size: ($gl-base-space-size * 2) !default;
$gl-separator-space-size: ($gl-base-space-size * 4) !default;
$gl-highlight-space-size: ($gl-base-space-size * 8) !default;
$gl-half-space-size: ($gl-base-space-size / 2) !default;
$gl-minor-space-size: ($gl-base-space-size / 5) !default;

$gl-spacement-example-list: (
	("gl-base", $gl-base-space-size, $gl-base-font-size),
	("gl-double", $gl-double-space-size, $gl-base-font-size),
	("gl-separator", $gl-separator-space-size, $gl-base-font-size),
	("gl-highlight", $gl-highlight-space-size, $gl-base-font-size),
	("gl-half", $gl-half-space-size, $gl-base-font-size),
	("gl-minor", $gl-minor-space-size, $gl-base-font-size)
) !default;

// radius
$gl-base-radius-size: 4px !default;
$gl-discreet-radius-size: ($gl-base-radius-size/2) !default;



//////////
// MISC //
//////////

$gl-do-override-misc: null !default;
@if $gl-do-override-misc {
	@include gl-override-misc();
}

$gl-checkers-size: 20px !default;
$gl-inline-block-space-size: 4px !default;