@using System.Web.Mvc
@using System.Web.Routing
@functions {
	public static System.Web.Mvc.HtmlHelper Html { get { return (CurrentPage as WWW.WebCommon.WebViewPage).Html; } }
	public static System.Web.Mvc.UrlHelper Url { get { return (CurrentPage as WWW.WebCommon.WebViewPage).Url; } }
	public Common.Configuration.Section Config { get { return (CurrentPage as WWW.WebCommon.WebViewPage).Config ; } }
}
@helper Navigation (object[] items) {
	if (items.Length > 0) {
		<a href="#gl-main-navigation" class="gl-nav-toggle gl-plugin-nav-toggle"
			data-nav-toggle-page-holder=".gl-wrapper"
			data-nav-toggle-menu-holder="#gl-main-navigation">
			Menu
		</a>
		<nav id="gl-main-navigation" class="gl-nav" role="navigation">
			<ul class="gl-content">
				@for (int i=0; i<items.Length; i++) {
					RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
					<li>
						<a href="@item["href"]">@item["name"]</a>
						@if (item.ContainsKey("children")) {
							@Guideline.NavigationChildren((object[])item["children"]);
						}
					</li>
				}
			</ul>
		</nav>
	}
}
@helper NavigationChildren (object[] items) {
	if (items.Length > 0) {
		<div class="gl-nav-child">
			<ul class="gl-content">
				@for (int i=0; i<items.Length; i++) {
					RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
					<li>
						<a href="@item["href"]">@item["name"]</a>
					</li>
				}
			</ul>
		</div>
	}
}
@helper CharTable (object config) {
	RouteValueDictionary values = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(config);

	<h3 class="gl">@values["title"]</h3>
	
	if (values.ContainsKey("description")) {
		<p class="gl">
			@values["description"]
		</p>
	}
	<ul class="gl-char-table gl-@values["name"]-font-family">
		@if (values.ContainsKey("glyphs")) {
			string[] glyphs = (string[])values["glyphs"];
			for (int i=0; i<glyphs.Length; i++) {
				<li title="@glyphs[i]">
					@if (glyphs[i].Length > 1) {
						@:&#x@(((string)glyphs[i]).Replace("\\", ""));
					} else {
						@glyphs[i]
					}
				</li>
			}
		}
	</ul>
}
@helper FontSize (object[] items) {
	if (items.Length > 0) {
		for (int i=0; i<items.Length; i++) {
			RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
			<p class="gl-font-size gl-@item["name"]-font-size">$@item["name"]-font-size @item["label"]</p>
		}
	}
}
@helper FontWeight (object[] items) {
	if (items.Length > 0) {
		for (int i=0; i<items.Length; i++) {
			RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
			<p class="gl-font-weight gl-@item["name"]-font-weight">$@item["name"]-font-weight @item["label"]</p>
		}
	}
}
@helper Spacement (object[] items) {
	if (items.Length > 0) {
		for (int i=0; i<items.Length; i++) {
			RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
			<p class="gl-spacement gl-@item["name"]-space-size">$@item["name"]-space-size &mdash; </p>
		}
	}
}
@helper ZIndex (object[] items) {
	if (items.Length > 0) {
		for (int i=0; i<items.Length; i++) {
			RouteValueDictionary item = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(items[i]);
			<p class="gl-z-index gl-@item["name"]-z-index">$@item["name"]-z-index &mdash; </p>
		}
	}
}
@helper GridSystem (object config) {
	RouteValueDictionary values = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(config);
	RouteValueDictionary grid = System.Web.Mvc.HtmlHelper.AnonymousObjectToHtmlAttributes(values["grid"]);
	int[][] gridRow = (int[][])grid["data"];
	int[] gridCols;

	<h2 id="@values["name"]" class="gl-header">@values["name"]</h2>
	<p class="gl">
		@Html.Raw((string)values["description"])
	</p>
	<div class="gl-example-full">
		<div class="gl-@grid["name"]-grid">
			@for (int i=0; i<gridRow.Length; i++) {
				gridCols = (int[])gridRow[i];
				<div class="gl-row">
					@for (int j=0; j<gridCols.Length; j++) {
						<div class="gl-col@(gridCols[j])">
							<div class="gl-content"></div>
						</div>
					}
				</div>
			}
		</div>
	</div>
}
