button.gl {
	@extend %gl-btn;
	@include gl-button-variant($gl-button-default-text-color, $gl-button-default-bg-color, $gl-button-default-border-color);
}
button.gl-primary {
	@extend %gl-btn;
	@include gl-button-variant($gl-button-primary-text-color, $gl-button-primary-bg-color, $gl-button-primary-border-color);
}
// Danger and error appear as red
button.gl-danger {
	@extend %gl-btn;
	@include gl-button-variant($gl-button-danger-text-color, $gl-button-danger-bg-color, $gl-button-danger-border-color);
}
// Success appears as green
button.gl-success {
	@extend %gl-btn;
	@include gl-button-variant($gl-button-success-text-color, $gl-button-success-bg-color, $gl-button-success-border-color);
}