%checkbox-label {
	margin-left: gl-to-em(18px, $gl-base-font-size);
	display: block;

	input[type="radio"],
	input[type="checkbox"] {
		font-size: gl-to-em($gl-footnote-font-size, $gl-base-font-size);
		float: left;
		margin: gl-to-em(4px, $gl-footnote-font-size) 0 0 gl-to-em(-18px, $gl-footnote-font-size);
		margin-top: gl-to-em(1px, $gl-footnote-font-size) \9; /* IE8-9 */
		line-height: normal;
	}
}

// checkbox list
.gl-checkbox, .gl-radio {
	@extend %gl-base-text;

	> label {
		@extend %checkbox-label;
	}
	+ .gl-checkbox, + .gl-radio {
		margin-top: $gl-half-space-size;
	}
}

label.gl-checkbox, label.gl-radio {
	@extend %checkbox-label;
}

// checkbox inline
.gl-checkbox-inline, .gl-radio-inline {
	@extend %gl-base-text;

	> label {
		@extend %checkbox-label;
	}
	+ .gl-checkbox, + .gl-radio {
		margin-top: $gl-half-space-size;
	}
}
label.gl-checkbox-inline, label.gl-radio-inline {
	@extend %checkbox-label;
	display: inline-block;
	margin-right: gl-to-em($gl-base-space-size, $gl-base-font-size);
}