.gl-color-generator-form {
	@extend %gl-base-text;
	overflow: hidden;
	padding-left: $gl-double-space-size;
	padding-right: $gl-double-space-size;
	.gl-color-stamp {
		width: 33.33333%;
		background-color: $gl-palette-fallback-bg-color;
		position: relative;
		overflow: visible;
		margin-top: 1.2rem;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: -1px;
			height: $gl-base-space-size;
			width: 0;
			border-right: 2px solid $gl-color-generator-border-color;

		}
		&:after {
			content: "New color";
			position: absolute;
			line-height: 1rem;
			left: 0;
			top: -1.2rem;
			text-shadow: none;
			@extend %gl-base-text;
		}
		&:first-child {
			&:before {
				display: none;
			}
			&:after {
				content: "Base color";
			}
		}

		&.gl-color-closest {
			padding: 0;
			&:before {
				display: none;
			}
			&:after {
				content: "Closest colors";
			}
			.gl-color-stamp {
				float: none;
				height: gl-to-em(33.3333px, $gl-base-font-size);
				min-height: 0;
				margin: 0;
				width: auto;
				padding: $gl-half-space-size $gl-half-space-size $gl-half-space-size $gl-double-space-size;
				&:before, &:after {
					display: none;
				}
				@include box-sizing(border-box);
			}
		}
	}
	fieldset {
		border: none;
		padding: 0;
		margin: $gl-base-space-size 0 0;
		&:first-child {
			margin: 0;
		}
	}
	input.gl, button.gl {
		margin-left: $gl-half-space-size;
		&:first-child {
			margin-left: 0;
		}
	}
	textarea.gl {
		width: 100%;
		margin: $gl-base-space-size 0;
		height: gl-to-em(50px, $gl-base-font-size);
		display: block;
		@include box-sizing(border-box);
	}
}