label.gl {
	@extend %gl-base-text;
	display: block;
	font-weight: $gl-bold-font-weight;
	margin: $gl-base-space-size 0;
	
	+ input.gl,
	+ select.gl,
	+ textarea.gl,
	+ .gl-checkbox,
	+ .gl-radio,
	+ .gl-wrap {
		margin-top: -$gl-half-space-size;
	}
}