html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif; }

body:before,
.holder:before,
.rm:before,
.lm:before {
  content: "";
  height: 100%;
  margin-right: -0.25em;
  overflow: hidden;
  width: 0; }

body:before,
.holder,
.holder:before,
.rm:before,
.lm:before,
.rm > .wrp,
.lm > .wrp,
.cm {
  display: inline-block;
  vertical-align: middle;
  text-align: left; }

.tc, .tr, .tl,
.br, .bc, .bl,
.rm, .lm {
  position: absolute;
  text-align: left; }

.tl, .tr, .tc {
  top: 0; }

.bl, .br, .bc {
  bottom: 0; }

.rm, .tr, .br {
  right: 0; }

.lm, .tl, .bl {
  left: 0; }

.rm, .lm {
  top: 0;
  bottom: 0; }

.tc, .bc {
  left: 0;
  right: 0;
  text-align: center; }

.tc > .wrp,
.bc > .wrp {
  display: inline-block;
  vertical-align: bottom;
  text-align: left; }

.tc, .bc, .lm, .rm {
  z-index: 5; }

.tr, .tl, .br, .bl {
  z-index: 10; }

.holder {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center; }

.holder {
  background: lightyellow; }

.tl, .tr, .tc .wrp,
.bl, .br, .bc .wrp,
.rm .wrp, .tr, .br,
.lm .wrp, .tl, .bl,
.cm {
  border: 1px solid red; }

.sample {
  background: silver;
  width: 350px;
  height: 250px;
  margin: 10px;
  text-align: center; }

@media only screen and (max-width: 1023px) {
  .holder {
    background: lightgreen; } }
@media only screen and (min-width: 1024px) {
  .holder {
    background: lightblue; } }
