@mixin gl-font-size-example ($name, $font, $base) {
	$value: gl-to-number($font);
	.gl-#{$name}-font-size {
		font-size: $font;
		&:after {
			@if unit($font) == unit($base) {
				content: "#{$font}";
			} @else {
				content: "#{$font} = #{$value * $base}";
			}
		}
	}
}