.gl-nav {
	@extend %gl-base-text;
	font-size: $gl-nav-font-size;
	background-color: $gl-nav-bg-color;
	@include linear-gradient(15deg, $gl-header-bg-color-from, $gl-header-bg-color-to, $fallback: $gl-header-bg-color-to);
	position: relative;
	ul {
		@include box-sizing(border-box);
		padding: 0;
		a {
			display: inherit;
			color: $gl-nav-font-color;
			text-decoration: none;
			opacity: 0.8;
			padding: ($gl-base-space-size + $gl-half-space-size) $gl-base-space-size;
			&:hover {
				background: $gl-nav-hover-bg-color;
			}
		}
	}
	> ul {
		&:before {
			content: "#{$gl-guideline-title}";
			display: inherit;
			font-weight: $gl-medium-font-weight;
			font-size: gl-to-em($gl-nav-title-font-size, $gl-nav-font-size);
			color: $gl-nav-font-color;
			padding: 0 $gl-base-space-size;
		}
		> li {
			margin: 0;
			list-style-type: none;
			&:hover {
				> ul {
					display: block;
				}
			}
		}
	}
}

.gl-nav-toggle {
	display: none;
}