// options navigation (breadcrumbs like navigation)
.gl-nav-sec {
	font-family: $gl-main-font-family;
	color: gl-hsl-diff($gl-theme-neutral-color, 0, 0, 44); //#a3a3a3
	list-style-type: none;
	padding: 0;
	margin: 10px 0;
	font-size: gl-to-em($gl-navsec-font-size, $gl-base-font-size);
	li {
		padding: 0;
		margin: 0;
		display: inline-block;
		border-left: 1px solid gl-hsl-diff($gl-theme-neutral-color, 0, 0, 44); //#a3a3a3
		padding-left: 5px;
		margin-left: 5px;
		&:first-child {
			border: none;
			padding: 0;
			margin: 0;
		}
		@include gs-media-query(gl-mobile) {
			border-left: none;
			margin: 0;
			padding: 0;
			display: block;
			line-height: 2em;
		}
	}
	a, a:hover {
		color: inherit;
		text-decoration: none;
		font-weight: normal;
	}
}