﻿<h3 class="gl">{{{title}}}</h3>
{{#description}}
<p class="gl">
	{{{description}}}
</p>
{{/description}}
<ul class="gl-char-table gl-{{{name}}}-font-family">
	{{#glyphs}}
		<li title="{{{.}}}">{{#html_unicode}}{{{.}}}{{/html_unicode}}</li>
	{{/glyphs}}
</ul>