.gl-font-size {
	@extend %gl-base-text;
	margin: $gl-base-space-size 0;
	&:first-child {
		margin-top: 0;
	}
	&:after {
		@extend %gl-base-monospaced-text;
		display: block;
		margin-top: $gl-half-space-size;
		font-size: $gl-font-size-description-font-size;
		color: $gl-size-description-text-color;
	}
}
.gl-font-weight {
	@extend .gl-font-size;
	font-size: $gl-content-font-size;
	&:after {
		font-size: $gl-font-weight-description-font-size;
	}
}
.gl-z-index {
	@extend .gl-font-size;
	font-size: $gl-content-font-size;
	&:after {
		display: inline;
		font-size: $gl-z-index-description-font-size;
	}
}
.gl-spacement {
	@extend .gl-z-index;
	font-size: $gl-content-font-size;
	padding: $gl-base-space-size;
	margin-bottom: $gl-base-space-size;
	background: $gl-spacement-description-bg-color;
	position: relative;
	border-top: 1px solid $gl-spacement-margin-bg-color;
}