%gl-row {
	overflow: hidden;
	white-space: nowrap;
	font-family: sans-serif;
	font-size: 0;
}
%gl-col {
	display: inline-block;
	font-size: $gl-grid-system-font-size;

	.gl-content {
		position: relative;
		min-height: gl-to-em(28px, $gl-grid-system-font-size);
		padding: gl-to-em(4px, $gl-grid-system-font-size) 0;
		@include box-sizing(border-box);
		@include transition(background-color 0.2s ease-out);

		&:hover {
			background-color: $gl-theme-main-color;
		}
		&:before {
			position: absolute;
			top: gl-to-em(5px, $gl-grid-system-font-size);
			left: gl-to-em(3px, $gl-grid-system-font-size);
			bottom: 0;
			right: 0;
			overflow: hidden;
			color: #fff;
			text-shadow: 1px 1px 4px $gl-gridsystem-text-shadow-color;
		}
	}
}