﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<!--
	// Color Palette //
-->
<h2 id="Color-Palette" class="gl-header">Paleta de Cores</h2>
<p class="gl">
	Todas as cores usadas no projeto estão ordenaras pelo valor do HUE. Esta página lê o arquivo <code class="gl">_colors.scss</code> e busca por variáveis com valor hexadecimal ou <code class="gl">gl-hsl-diff</code>.
</p>
<p class="gl">
	Existe um padrão de nomenclatura para criar as cores: cores que com <code class="gl">theme</code> ou <code class="gl">group</code> no nome da variável são consideradas cores base. Todo o restante é considerado como exceção. Mais informações em:
</p>
<p class="gl-lead">
	<a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-colors">Como a paleta de cores funciona</a>. <a href="#Generate-a-new-color">Gere as novas cores utilizando esta ferramenta</a>.
</p>
<div class="gl-example-full">
	<form class="gl-color-palette-form gl-plugin-color-palette gl-plugin-sass-parser"
		data-cp-main-pattern="theme|group"
		data-cp-filter-holder="#filter-holder"
		data-cp-holder="#glColorPallete"
		data-cp-color-cssclass="gl-color-stamp"
		data-sp-url="{{{data.sass_colors_url}}}"
		data-sp-main-pattern="theme"
		data-sp-hsl-function="gl-hsl-diff"
	>
		<fieldset class="gl-inline" id="filter-holder">
			<label class="gl">
				Filter:
			</label>
			<label class="gl-checkbox-inline" for="filterMain">
				<input type="checkbox" checked="checked" value="main" id="filterMain" />
				show main
			</label>
			<label class="gl-checkbox-inline" for="filterException">
				<input type="checkbox" checked="checked" value="exception" id="filterException" />
				show exception
			</label>
		</fieldset>
		<div id="glColorPallete" class="gl-color-stamp-wrapper"></div>
	</form>
</div>


<!--
	// Generate a new color //
-->
<h3 id="Generate-a-new-color" class="gl">Gere uma cor nova</h3>
<p class="gl">
	Sempre utilize esta ferramenta para gerar novas cores para o projeto. Coloque o valor hexadecimal no campo e jogue a chamada de função que aparece no textfield no arquivo _colors.scss.
</p>
<p class="gl-lead">
	<a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-colors">Como a paleta de cores funciona</a>.
</p>
<div class="gl-example-full">
	<form class="gl-color-generator-form gl-plugin-color-generator" id="color-generator" action="#"
		data-cg-color-to="#hex2"
		data-cg-color-box-from="#color1"
		data-cg-color-box-to="#color2"
		data-cg-color-box-closest="#color3 .gl-color-stamp"
		data-cg-result="#result"
		data-cg-select="#theme"
	>
		<fieldset>
			<label for="hex2">Nova cor:</label>
			<input class="gl" type="text" name="hex2" id="hex2" placeholder="hex2" value="" />
			<button tab-index="-1" class="gl gl-success">conversão automática</button>
		</fieldset>
		<textarea class="gl" name="result" id="result" rows="2"></textarea>
		<div class="gl-color-stamp-wrapper">
			<div class="gl-color-stamp" id="color1">
			</div>
			<div class="gl-color-stamp" id="color2"></div>
			<div class="gl-color-stamp gl-color-closest" id="color3">
				<div class="gl-color-stamp"></div>
				<div class="gl-color-stamp"></div>
				<div class="gl-color-stamp"></div>
			</div>
		</div>
		<fieldset>
			<label for="theme">Também é possível escolher a cor base manualmente: </label>
			<select class="gl" id="theme"></select>
		</fieldset>
	</form>
</div>
<ol class="gl">
	<li>
		Na ferramenta acima, a coluna da esquerda contém a cor base mais próxima, que será usada como base de cálculo para a nova cor. Portanto, se o HUE for muito diferente (ex.: cor base é azul e a cor nova é vermelha), então é necessário criar uma nova cor base ou registrá-la como exceção.
	</li>
	<li>
		A coluna da direita mostra as 3 cores mais próximas da paleta inteira. Deve ser usado para verificar se a nova cor realmente precisa ser criada, para evitar variações desnecessárias ou duplicatas.
	</li>
</ol>