.gl-content {
	padding-left: $gl-base-space-size;
	padding-right: $gl-base-space-size;
}

.gl-content-holder {
	> .gl-example-full,
	> .gl-example-full + pre.gl {
		margin-left: -$gl-base-space-size;
		margin-right: -$gl-base-space-size;
	}
	> .gl-example-full + pre.gl {
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
}